<?xml version="1.0" encoding="UTF-8" ?>
<suite name="Time test Suite" verbose="1">
    <test name="Group Test" parallel="methods" thread-count="3" >
        <classes>
            <class name="HomePageVerification" />
        </classes>
    </test>
    <test name="College Finder Tests" >
        <classes>
            <class name="CollegeFinderMastersTest" />
        </classes>
    </test>
</suite>